---
// Component Imports
import { type CollectionEntry, getCollection } from "astro:content";

// Layout Imports
import BaseLayout from "../../layouts/BaseLayout.astro";
import TableOfContents from "../../components/TableOfContents.astro";

interface Props {
	entry: CollectionEntry<"works">;
}

// This is a dynamic route that generates a page for every Markdown file in src/content/
// Read more about dynamic routes and this `getStaticPaths` function in the Astro docs:
// https://docs.astro.build/en/core-concepts/routing/#dynamic-routes
export async function getStaticPaths() {
	const works = await getCollection("works");
	return works.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
---

<BaseLayout title={entry.data.title} description={entry.data.description}>
	<article id="toc-text" class="container mx-auto">
		<h2>{entry.data.title}</h2>
		<div class="shadow-xl p-4">
			<div class="grid grid-cols-12">
				<div
					class="col-start-1 col-end-13 md:col-end-8 lg:col-end-9 xl:col-end-10 order-2 md:order-1 px-2"
				>
					<div class="float-left mr-6">
						<div
							class="relative aspect-w-4 aspect-h-5 sm:aspect-w-16 sm:aspect-h-9 w-full sm:w-72 lg:w-[32rem]"
						>
							{
								entry.data.img && (
									<img
										src={entry.data.img}
										alt={entry.data.img_alt || ""}
										class="float-start"
									/>
								)
							}
						</div>
					</div>
					<Content />
				</div>
				<TableOfContents headings={headings} />
			</div>
		</div>
	</article>
</BaseLayout>
