---
// Component Imports
import { type CollectionEntry, getCollection } from "astro:content";

// Layout Imports
import BaseLayout from "../layouts/BaseLayout.astro";

interface Props {
	blog: CollectionEntry<"blog">;
}

const allPost = (await getCollection("blog"))
	.filter((f) => f.data.draft != true)
	.sort(
		(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
	);

let title = "Blog";
let description = "Learn about Mikhajlo Njorba's most recent publications";
---

<BaseLayout title={title} description={description}>
	<h1 class="text-center">Works</h1>
	<div
		class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:col-span-4 gap-4"
	>
		{
			allPost.map((allPost) => (
				<>
					<div>
						<span class="h-2">{allPost.data.tags.join(", ")}</span>
						<a class="card" href={`/blog/${allPost.slug}`}>
							<span class="h2">{allPost.data.title}</span>
							<img
								src={allPost.data.img}
								alt={allPost.data.img_alt || ""}
								loading="lazy"
								decoding="async"
							/>
						</a>
					</div>
				</>
			))
		}
	</div>
	<div class="grid grid-cols-4 gap-4">
		{allPost.map((allPost) => <div>{allPost.data.title}</div>)}
	</div>
</BaseLayout>
