---
// Component Imports
import { type CollectionEntry, getCollection } from "astro:content";

// Layout Imports
import BaseLayout from "../layouts/BaseLayout.astro";

interface Props {
	works: CollectionEntry<"works">;
}

const allWorks = (await getCollection("works"))
	.filter((f) => f.data.draft != true)
	.sort(
		(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
	);

let title = "Works";
let description = "Learn about Mikhajlo Njorba's most recent works";
---

<BaseLayout title={title} description={description}>
	<h1 class="text-center">Роботи</h1>
	<div
		class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:col-span-4 gap-4"
	>
		{
			allWorks.map((allWorks) => (
				<>
					<div>
						<span class="h-2">{allWorks.data.tags.join(", ")}</span>
						<a class="card" href={`/works/${allWorks.slug}`}>
							<span class="h2">{allWorks.data.title}</span>
							<img
								src={allWorks.data.img}
								alt={allWorks.data.img_alt || ""}
								loading="lazy"
								decoding="async"
							/>
						</a>
					</div>
				</>
			))
		}
	</div>
	<div class="grid grid-cols-4 gap-4">
		{allWorks.map((allWorks) => <div>{allWorks.data.title}</div>)}
	</div>
</BaseLayout>
